{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138460085-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138460085-3');
  </script>
  <!-- Title -->
  <title>TG Website | Our work - {{ object.title }}</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/img/logos/logo-sm.png' %}">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>
<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header">
    <div class="u-header__section">

      <div id="logoAndNav" class="container">
        <!-- Nav -->
          {% include "en_app/basic/navbar.html" %}
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="bg-primary bg-img-hero" style="background-image: url({% static 'assets/svg/components/abstract-shapes-15.svg' %});">
      <div class="container space-2 space-lg-3">
        <div class="w-lg-65 text-center mx-lg-auto">
          <span class="btn btn-xs btn-soft-white btn-pill mb-3">Examples of our projects</span>
          <h1 class="text-white font-weight-medium mb-0">{{ object.title }}</h1>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Content Section -->
    <div class="container space-2 space-lg-0">
      <div class="row">
        <div id="stickyBlockStartPoint" class="col-lg-4 mt-lg-n11 mb-7 mb-lg-0">
          <!-- Sidebar Content -->
          <div class="js-sticky-block card border-0 bg-white shadow-soft"
               data-parent="#stickyBlockStartPoint"
               data-sticky-view="lg"
               data-start-point="#stickyBlockStartPoint"
               data-end-point="#stickyBlockEndPoint"
               data-offset-top="24"
               data-offset-bottom="24">
            <div class="card-header text-center py-5 px-4">
              <div class="max-width-31 mx-auto">
                {% if object.url %}
                <a href="{{ object.url }}" target="_blank">
                  <img class="img-fluid" src="{{ object.logo.url }}" alt="Zdjęcie - {{ object.title }}">
                </a>
                {% else %}
                <a href="#" onClick="return false;">
                  <img class="img-fluid" src="{{ object.logo.url }}" alt="Zdjęcie - {{ object.title }}">
                </a>
                {% endif %}
              </div>
            </div>

            <div class="card-body p-4">
              <div class="border-bottom pb-2 mb-4">
                <dl class="row font-size-1">
                  <dt class="col-sm-4">Branch</dt>
                  <dd class="col-sm-8 text-secondary">{{ object.trade }}</dd>
                </dl>
                <dl class="row font-size-1">
                  <dt class="col-sm-4">Goal</dt>
                  <dd class="col-sm-8 text-secondary">{{ object.goal }}</dd>
                </dl>
                <dl class="row font-size-1">
                  <dt class="col-sm-4">Type</dt>
                  <dd class="col-sm-8 text-secondary">{{ object.type }}</dd>
                </dl>
                {% if object.url %}
                <dl class="row font-size-1">
                  <dt class="col-sm-4">www</dt>
                  <dd class="col-sm-8 text-secondary"><a href="{{ object.url }}" target="_blank"><b>Go to Website</b></a></dd>
                </dl>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- End Sidebar Content -->
        </div>

        <div class="col-lg-8 space-lg-2">
          <div class="pl-lg-4">
            <h2 class="h4">{{ object.subtitle }}</h2>
            {{ object.content|safe }}
          </div>
        </div>
      </div>
    </div>
    <!-- End Content Section -->

    <!-- Sticky Block End Point -->
    <div id="stickyBlockEndPoint"></div>

    <!-- Testimonials -->
    <div class="bg-light">
      <div class="container space-2 space-lg-3">
        <div class="w-lg-75 mx-lg-auto">
          <!-- SVG Quote -->
          <figure class="mx-auto text-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
              <path class="fill-primary" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
            </svg>
          </figure>
          <!-- End SVG Quote -->

          <!-- Blockquote -->
          <div class="text-center mb-5">
            <blockquote class="font-size-3 font-weight-medium">{{ object.opinion }}</blockquote>
          </div>
          <!-- End Blockquote -->

          <!-- Reviewer -->
          <div class="w-lg-50 text-center mx-lg-auto">
            <h4 class="h5 mb-0">{{ object.opinion_owner }}</h4>
            <small class="text-muted">{{ object.opinion_owner_position }}</small>
          </div>
          <!-- End Reviewer -->
        </div>
      </div>
    </div>
    <!-- Testimonials -->

    <!-- Stories Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="font-weight-medium">More examples of our projects</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        {% for object in random_objects %}
        <div class="col-sm-6 col-md-4 mb-5">
          <!-- Card Info -->
          <div class="card border-0 shadow-soft h-100">
            <a href="{% url 'en_realization:realization' object.slug %}">
              <img class="card-img-top" src="{{ object.img.url }}" alt="Image Description">
            </a>
            <div class="card-body p-5">
              <h5>{{ object.title }}</h5>
              <p class="mb-0">{{ object.subtitle|truncatechars:70 }}</p>
            </div>
            <div class="card-footer bg-light border-0 py-4 px-5">
              <a href="{% url 'en_realization:realization' object.slug %}">Read more <small class="fas fa-arrow-right ml-1"></small></a>
            </div>
          </div>
          <!-- End Card Info -->
        </div>
        {% endfor %}

      </div>
    </div>
    <!-- End Stories Section -->

  <!-- ========== FOOTER ========== -->
  {% include "en_app/basic/footer.html" %}
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'assets/vendor/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'assets/js/hs.core.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.unfold.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.validation.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.focus-state.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.show-animation.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.sticky-block.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.svg-injector.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });

      // initialization of svg injector module
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });

      // initialization of forms
      $.HSCore.components.HSFocusState.init();

      // initialization of sticky blocks
      $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
</body>
</html>